/* src/RankingTable.css */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left; 
}

th {
  background-color: #f2f2f2;
}

.logo {
  vertical-align: bottom;
}
.rule{
  background-color:#F0FFFF;
}

.acl{
  background-color:#FFFFCC;
}
.play_off{
  background-color: #CCFFFF;
}
.relegation{
  background-color: #bfbfbf;
}